html,
body {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	margin: 0 auto;
	background-color: #dedede;
	height: 93vh;
	width: 98vw;
}

a {
	text-decoration: none;
}

.loader,
.loader2 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #202020;
	transition: opacity 400ms ease 200ms, visibility 200ms ease 200ms,
		bottom 200ms ease-in-out 200ms, right 200ms ease-in-out 200ms;
}

main {
	opacity: 0;
	height: 90%;
	width: 90%;
	-webkit-animation: fadeOut 1s 1 800ms forwards;
	animation: fadeOut 1s 1 800ms forwards;
}

main h2 {
	margin-top: 2rem;
	text-align: center;
	color: #252525;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 1140px;
}

.is-hidden {
	bottom: 100%;
	opacity: 0;
	visibility: hidden;
}

.is-hidden-left {
	right: 100%;
	opacity: 0;
	visibility: hidden;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 0;
	}

	to {
		opacity: 100%;
	}
}

@keyframes fadeOut {
	from {
		opacity: 0;
	}

	to {
		opacity: 100%;
	}
}
